.register-bg{
    background-color: #e1e8ff;
}

.register{
    background-color: #fff;
    box-shadow: -2px 2px rgb(124, 124, 124);
    border-radius: 10px;
}

.redirect{
    color: #dc3545;
    cursor: pointer;
    font-size: 1.2rem;
}
.redirect:hover{
    color: navy;
}