.review-bg{
    background-color: #ffe7c8;
}

/* overriding slick theme css */
.slick-prev, .slick-next{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: all .3s;
}
.slick-prev::before, .slick-next::before{
    color: black;
    font-size: 20px;
    transition: all .3s;
}
.slick-prev:hover , .slick-next:hover{
    background-color: #9ebd89;
}
.slick-prev:hover:before, .slick-next:hover:before{
    color: #E3FFD1;
}