.order-container{
    padding: 25px 15px;
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
    transition: all 0.5s;
    box-shadow: 0px 0px 10px lightgray;
}

.order-container:hover{
    background-color: #efefef;
    cursor: pointer;
}
.text-highlight{
    transition: all .5s;
}
.order-container:hover .text-highlight{
    color: rgb(0, 0, 175);
}