.banner{
    background: url('banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center center;
    min-height: 90vh;
    position: relative;
}

.text-shadow{
    color: white;
    margin: 10px 0;
    text-shadow: 
        0px 1px 4px rgb(0, 0, 0),
        -1px 1px 4px rgb(0, 0, 0),
        1px 1px 4px rgb(0, 0, 0),
        0px -1px 4px rgb(0, 0, 0)
    ;
    padding: 10px 20px;
    border-radius: 20px;
}

.banner-text{
    font-family: 'Roboto' , 'sans-serif';
    font-size: 22px;
    cursor: pointer;
    letter-spacing: .10em;
    line-height: 1.8em;
}

@media only screen and (max-width: 992px) {
    .banner{
        height: 50vh;
    }
    .banner-text{
        font-size: initial;
        letter-spacing: .10em;
        line-height: 1.6em;
    }
    
}