.App {
  text-align: center;
  padding-bottom: 100px;
  background-color: #f7f7f7;
}

/* margin for navbar */
.mt-nav{
  margin-top: 60px;
  padding-top: 15px;
}

/* text colors */
[data-col = "cyan"]{
  color: cyan;
}
[data-col = "orange"]{
  color: #FFAC19;
}
[data-col = "green"]{
  color: rgb(146, 255, 146);
}
[data-col = "red"]{
  color: rgb(255, 146, 146);
}
[data-col = "yellow"]{
  color: rgb(230, 255, 116);
}
[data-col = "blue"]{
  color: rgb(52, 33, 161);
}
[data-col = "dark-green"]{
  color: rgb(12, 129, 47);
}
[data-col]{
  transition: color .5s;
}
[data-col]:hover{
  color: inherit;
}
/* redirect to reg/login text*/
.redirect{
    color: #dc3535; 
    letter-spacing: .5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all .5s;
}
.redirect:hover{
    color: navy;
}

.common-bg{
  background-color: rgb(224, 217, 245);
}

.btn-banner{
  background-color: rgba(225, 245, 255, 0.45);
  backdrop-filter: blur(1px);
  color: black;
  padding: 7px 30px;
  border-radius: 25px;
  border: 2.5px solid black;
  box-shadow: 0px 0px 3px lightgrey;
  transition: all .5s;
}
.btn-banner:hover{
  background-color: rgba(168, 85, 83, 0.452);
  backdrop-filter: blur(5px);
  border: 2.5px solid white;
}

.btn-generic{
    background-color: rgb(131, 162, 248);
    color: black;
    padding: 5px 20px;
    border: none;
    letter-spacing: 1.5px;
    border-radius: 25px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.btn-generic:before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  bottom: -100%;
  left: 0;
  border-radius: 25px;
  background-color:rgb(255, 183, 183);
  transition: all .5s;
}
.btn-generic:hover{
  box-shadow: 0px 0px 5px rgb(141, 141, 141);
  color: black;
}
.btn-generic:hover:before{
  bottom: 0;
}
  
.btn-red{
  background-color: rgb(255, 71, 71);
  color: white;
}
.btn-green{
  background-color: rgb(18, 87, 9);
  color: white;
}
.btn-red:hover , .btn-green:hover{
  color: black;
}
.btn-red:before , .btn-green:before{
  background-color: white;
}


.btn-orange{    
  background-color: rgb(255, 210, 88);
  color: black;
}
.btn-orange:before{
  background-color: rgb(148, 243, 238);
}

.btn-logout{
  background: rgb(255, 255, 255);
  font-size: 1.1rem;
  padding: 5px 8px;
  border-radius: 75%;
  border: none;
  color: rgb(8, 8, 8);
  
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all .6s;
}
.btn-logout:hover{
  color: white;
}
.btn-logout:before , .btn-logout::after{
  position: absolute;
  content: '';
  z-index: -1;
  background: #141212;
  background: rgb(255, 84, 72);
  width: 110%; 
  height: 100%;
  transition: all .6s;
  left: 0;
  right: 0;
}
.btn-logout:before{
  top: -100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.btn-logout::after{
  bottom: -100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.btn-logout:hover:before{
  top: 0;
}
.btn-logout:hover:after{
  bottom: 0;
}

/* for price and rating */
.icon-color{
  color: #ff2c37;
}